# Created by .ignore support plugin (hsz.mobi)
npm-debug.log
.idea/
.idea/*
node_modules/
generators/app/templates/dist/bower_components/
generators/app/templates/dist/doc
generators/app/templates/dist/coverage
/generators/app/templates/dist/bower_components
generator-angular-jeej/generators/app/templates/test-tmp