# Created by .ignore support plugin (hsz.mobi)
npm-debug.log
.idea/
node_modules/
generators/app/templates/dist/bower_components/
generators/app/templates/dist/doc
generators/app/templates/dist/coverage
generator-angular-jeej/generators/app/templates/test-tmp